<!doctype html>

<html>
<head>
<style>

body {
    padding: 0;
    margin: 0;
}

html,body {
    height: 100%;
    margin: 0;
    background-color: #DEDEDE;
}

p {
margin: 15px;
}

#left_side {
    width: 20%;
    float: left;
    position: fixed;
    height: 100%;
    /*background-color: #EEF0CA;*/
    background-color: #FAEBD7;
    /*color: #19ECD1;*/
}

#right_side {
    width: 80%;
    height: auto;
    float: left;
    position: absolute;
    right: 0px;
    text-align: left; 
    font-size: 16px;
    font-family: "Arial";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*background-color: #EEF0CA;*/
    background-color: #FAEBD7;
    font-family: Arial Black, Tahoma;
    font-size: 18px;
    letter-spacing: 0.75px;
}


li a{
    display: block;
    color: #FF4D00;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li.active a{
    background-color: #FF4D00;
    color: white;
    outline-width: 1px; 
    outline-color: black;
}

li:hover:not(.active) a{
    background-color: #444444;
    color: #FFD700;
}

</style>
</head>
</html>